@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />

<style>
   
    #bgimage {
        background-image: url("/images/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100px;
 
    }
</style>

<div id="bgimage">

</div>


