@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    <p> Este projeto foi desenvolvido no âmbito da disciplina Programação para a WEB - servidor (server-side) && WEB - cliente
        referente ao curso TPSI</p>
</div>

