@model Airlines25554.Models.ChangeUserViewModel
@{
    ViewData["Title"] = "Profile Update";
}

<div class="site-section" id="next">
    <div class="container">

        <h2>Update User</h2>
        <br />
        @if (!string.IsNullOrEmpty(@ViewBag.Message))
        {
            <div class="text-success">
                <p>
                    @ViewBag.Message
                </p>
            </div>

            <br />
            <div class="form-group">
                <a class="btn btn-success" asp-controller="Home" asp-action="Index">Home</a>
            </div>

        }

        else
        {

            <div class="row">
                <div class="col-md-4 offset-md-4" style="min-width: 100%; margin-left:0px ">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group" style="width: 48%; float: left; margin-right:4%">
                            <label asp-for="FirstName">First Name</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-warning"></span>
                        </div>

                        <div class="form-group" style="float:left; width: 48%; float:left">
                            <label asp-for="LastName">Last Name</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-warning"></span>
                        </div>



                        <br />
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary" />
                            <a asp-action="ChangePassword" class="btn btn-success">Change Password</a>
                        </div>

                    </form>
                </div>


            </div>
        }
    </div>
</div>






@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   


}