@model Airlines25554.Models.RegisterNewUserViewModel
@{
    ViewData["Title"] = "Register";
}



<style>

    body {
        background: linear-gradient(45deg, #eaeaea 33.33%, #007bff 66.66%, #0C234C 99.99%);
    }

</style>



<br />
<br />
<br />
<br />
<br />


<div class="containermain">
    <div class="title">
        Register new user <i class="fa-regular fa-circle-user"></i>
    </div>
    <div class="content">
        <form method="post">


            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input asp-for="Username" type="text" class="form-control" placeholder="Enter Username" required>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email" required>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input asp-for="Password" type="text" class="form-control" placeholder="Enter Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input asp-for="Confirm" type="text" class="form-control" placeholder="Confirm Password" required />
                    <span asp-validation-for="Confirm" class="text-danger"></span>
                </div>

            </div>
         
            <div class="button">
                <input type="submit" value="Confirm">
            </div>

        </form>
    </div>
</div>
<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }