@model Airlines25554.Data.Entities.AirPlane

@{
    ViewData["Title"] = "Create new Airplane";
}

<h1>New Airplane</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Registration" class="control-label"></label>
                <input asp-for="Registration" class="form-control" />
                <span asp-validation-for="Registration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomySeats" class="control-label"></label>
                <input asp-for="EconomySeats" class="form-control" />
                <span asp-validation-for="EconomySeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutiveSeats" class="control-label"></label>
                <input asp-for="ExecutiveSeats" class="form-control" />
                <span asp-validation-for="ExecutiveSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstClassSeats" class="control-label"></label>
                <input asp-for="FirstClassSeats" class="form-control" />
                <span asp-validation-for="FirstClassSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-success"><i class="fa-solid fa-arrow-left-long"></i> Back to List </a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
