@model Airlines25554.Models.PassengerViewModel

@{
    ViewData["Title"] = "New Passenger";
}


<style>

    body{
             background: linear-gradient(45deg, #eaeaea 33.33%, #007bff 66.66%, #0C234C 99.99%);
    }


</style>



<br />
<br />
<br />
<br />
<br />
<div class="containermain">
    <div class="title">
        Passenger Details <i class="fa-solid fa-suitcase"></i>
    </div>
    <div class="content">
        <form method="post" asp-action="Booking" >
       
        


            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="Enter your first name" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Enter your last username" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Passport Nº</span>
                    <input asp-for="PassportId" type="text" class="form-control" placeholder="Enter your Passport Nº" required />
                </div>

            </div>
            <div class="gender-details">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                <span class="gender-title">Gender</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Male</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Female</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                        <span class="gender">Prefer not to say</span>
                    </label>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Confirm" >
                <input asp-for="Email" hidden="hidden" />
                <input asp-for="FlightId" hidden="hidden" />
                <input asp-for="FirstName" hidden="hidden" />
                <input asp-for="LastName" hidden="hidden" />
                <input asp-for="PassportId" hidden="hidden" />
            </div>

        </form>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
